.signup{
    box-sizing: border-box;
    width: 1061.84px;
    height: 719.81px;
    background: rgba(255, 255, 255, 0.1);
    border: 3.86079px solid #FFFFFF;
    //backdrop-filter: blur(4.82599px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 17.3736px;
    //filter: blur(15.9258px);   
    text-align: center;
    vertical-align: middle;
}

