.dropdownmenu {
    position:relative;
}


.dropdown {
    display: none;
    flex-direction: column;
    width: 7rem;
    position:absolute;
    margin:0;
    left:50%;
    margin-left:-3.5rem;
}

.dropdownmenu:hover .dropdown{display:flex ;}

.profile_button {
    height: 2rem;
    width: 100%;
    border: 0.2rem solid white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 0rem solid white;
    background: url("../../public/images/background.svg");
    font-size: 1rem;
    cursor: pointer;
}

.logout_button {
    height: 2rem;
    width: 100%;
    border: 0.2rem solid white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top:0.2rem solid white;
    background: url("../../public/images/background.svg");
    font-size: 1rem;
    cursor: pointer;
}

.signout {
    border: 0.2rem solid rgb(209, 209, 209);
    border-radius: 0.5rem;
}
