.dropdown {
    display: none;
    flex-direction: column;
    width: 10.75rem;
    position:absolute ;
}

.dropdownmenu:hover .dropdown{display:flex ;}

.profile_button {
    height: 2.875rem;
    border: 2px solid white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid white;
    background: url("../../public/images/background.svg");
    font-size: 20px;
    cursor: pointer;
}

.logout_button {
    height: 2.875rem;
    border: 2px solid white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: url("../../public/images/background.svg");
    font-size: 20px;
    cursor: pointer;
}

.signout {
    border: 2px solid rgb(209, 209, 209);
    border-radius: 8px;
}
