.about{
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    margin-left: 6.375rem;
    margin-right: 4.5rem;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 2rem;
    .searchandissues{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
    }

    .truelist{
        background-color: rgba(0, 0, 0, 0);
    }

    .falselist{
        display: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .textsmall{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
    }

    .textsmall p{
        font-family: 'BankGothic Lt BT';
        font-size: 1.375rem;
        line-height: 135.3%;
        letter-spacing: 0rem;
        color: #FFFFFF;
        margin-bottom: auto;
    }

    .textmedium{
        margin-left: 1.5rem;
    }

    .textmedium p{
        font-family: 'BankGothic Lt BT';
        font-size: 2.25rem;
        line-height: 97.7%;
        letter-spacing: -0.01125rem;
        color: #FFFFFF;
    }

    .textcirclecont{
        margin-left: 3rem;
    }
}

.about p{
    font-family: 'BankGothic Md BT';
    font-size: 3.72rem;
    font-style: normal;
    letter-spacing: -0.1674rem;
    color: #FFFFFF;
    margin-bottom: auto;
}

.participationB{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icons{
    width: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.members{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 50px;
}

