.btn {
  margin: 1.875rem;
  font-size: 1.125rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 4.063rem;
  width: 15.625rem;
  outline-style: solid;
  outline-width: 0.125rem;
  box-shadow: 0.063rem 0.063rem 0rem 0.125rem rgba (0, 0, 0, 0.3);
  cursor: pointer;
}


.true {
  border: 0;
  background: linear-gradient(to bottom right, #d4088dbe, #470689bd);
  outline-color: rgba(255, 255, 255, 0.719);
}

.false {
  border: 0;
  background: linear-gradient(to bottom right, #d4088c, #480689);
  outline-color: white;
}
