.footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin: auto;
    background-color: #1a1a1a;
}

.footer-1 {
    display: flex;
    flex-direction: row;
    width: 19.25rem;
    justify-content: space-between;
}

.footer-1_text {
    font-size: 3rem;
    align-self: center;
}

.footer-text {
    width: 26rem;
    text-align: center;
    font-size: 1.125rem;
    background-color: #ffffff;
    background: radial-gradient(78.47% 78.47% at 50% 50%, #FFFFFF 21.19%, rgba(255, 255, 255, 0) 94.06%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.icon_img {
    width: 2.1rem;
    height: 2.1rem;
}

.footer-social {
    display: flex;
    flex-direction: column;
    width: 14.61rem;
    height: 5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.footer-social-text {
    text-align: center;
    font-size: 2rem;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
}

.footer-credits {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #1a1a1a;
}

.footer-credits-text {
    opacity: 0.7;
}
  
