.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.repobox {
  border: 0.125rem solid #fff;
  margin: 2rem;
  padding: 0.625;
  border-radius: 0.625rem;
  background-image: linear-gradient(to right, #1d0f44, #3d0e3d);
}

.repodialogue {
  padding: 1.5rem;
  margin-left: 0.625rem;
  background-color: 0.125rem solid #fff;
  width: 85%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.125rem solid #fff;
  box-shadow: 0 0 0.5rem #fff;
  background-color: #1a1a1a;
  background-image: url("../../public/download.jpg");
  height: 50rem;
  font-size: 1.5rem;
}
.description {
  color: #fff;
  text-align: center;
}
.mentor {
  color: #ffe600;
  text-align: right;
}

.scroll {
  width: 97%;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 7px;
  inset: 0 3px 0;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
