.progresspanel{
    height: max-content;
    width: max-content;
    color:white;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    box-shadow: 0 0 0.5rem #fff;
    text-shadow: 0 0 0.5rem #fff;
    background-color: #1A1A1A;
    background-image: url('../../public/download.jpg');
}

.progress{
    font-size:2rem;
    margin: 2rem;
}

.rank{
    margin: 2rem;
    font-size:3rem;
}

.progressbar{
    margin: 2rem;
}
