.btn {
  margin: 30px;
  font-size: 18px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 65px;
  width: 250px;

  outline-style: solid;
  outline-width: 2px;
  box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
  cursor: pointer;
}
.true {
  border: 0;
  background: linear-gradient(to bottom right, #d4088c, #480689);
  outline-color: white;
}
.false {
  border: 2px;
  background-image: linear-gradient(white, white),
    linear-gradient(to bottom right, #d4088c, #480689);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
