.btn {
  margin: 30px;
  font-size: 18px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 65px;
  width: 250px;

  outline-style: solid;
  outline-width: 2px;
  box-shadow: 1px 1px 0px 2px rgba (0, 0, 0, 0.3);
  cursor: pointer;
}


.true {
  border: 0;
  background: linear-gradient(to bottom right, #d4088dbe, #470689bd);
  outline-color: rgba(255, 255, 255, 0.719);
}

.false:hover {
  border: 0;
  background: linear-gradient(to bottom right, #d4088c, #480689);
  outline-color: white;
}