@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #f1f1f1;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0px 0.3rem 1rem 0.15rem rgba(221, 230, 243, 0.25);
  /*effects - transition: 0.3s;*/
  background: linear-gradient(90deg, rgba(104, 56, 236, 0.5) 0%, rgba(233, 69, 96, 0.5) 100%), linear-gradient(90deg, #6838EC 45.31%, #570A57 100%);
  border-radius: 1rem;
  border: 0.15rem solid rgba(233, 69, 96, 0.8);
  box-sizing: border-box;
  width: 22.6875rem;
  height: 29.615625rem;
}

.card__container{
  padding: 1.8125rem;
}

.card__container h4{
  font-family: 'BankGothic Md BT';
  font-style: normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 115.8%;
  text-align: justify;
  text-transform: uppercase;
  color: #FFFFFF
}

.card__container p{
  font-family: 'BankGothic Lt BT';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 135.3%;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.card__container button{
  background: #FFFFFF;
  box-shadow: 0px 0.3rem 1rem 0.15rem rgba(221, 230, 243, 0.25);
  border-radius: 0.375rem;
  border-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
}
