.profile-card {
    box-sizing: border-box;
    position: absolute;
    width: 832px;
    height: 564px;
    left: 156px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4.87248px 15.8356px 2.43624px rgba(221, 230, 243, 0.25);
    border: 3px solid #FFFFFF;
    backdrop-filter: blur(4.5px);
    border-radius: 17.3736px;
    z-index: 500;

    .image{
        position: absolute;
        left: 55px;
        top: 50px;
        z-index: 100000;
    }
    .userimage{
        height: 167px;
        width: 167px;
        border-radius: 50%;
    }
}

.profile-container hr {
    position: absolute;
    width: 722px;
    height: 0px;
    left: 55px;
    top: 240px; 
    border: 2px solid rgba(255, 255, 255, 0.4);
}